<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGetArchetype" value="https://pkgs.dev.azure.com/SiigoDevOps/Architecture/_packaging/NugetArchetype/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <NuGetArchetype>
      <add key="Username" value="Here your email" />
      <add key="ClearTextPassword" value="jdid742fjnuv3f57uxmdgmtdgn455vzeb7v7pmytv2qf75wht5mq" />
    </NuGetArchetype>
  </packageSourceCredentials>  
</configuration>
